@{
    ViewBag.Title = "Главная";
}
<br />

@*<article>
        <p>
            Документирование ошибок программного обеспечения.
        </p>
    </article>*@
<body style="background-image: url(../../image/6.jpg)">
</body>

<h2 style="font-size:18px; color: darkslategrey"> Здравствуйте!</h2>
<h2 style="font-size:16px; color: darkslategrey">    Данная программа поможет Вам документировать ошибки программного обеспечения. В программе заводятся данные в таблицы. Эти данные можно удалять, редактировать и фильтровать. Фильтровать можно  ошибки по критериям, модулям и статусам и разработчикам. Также программа выстроит график, по которому Вы сможете увидеть сколько ошибок находиться в том или ином статусе. </h2>
<h2 style="font-size:18px; color: darkslategrey"> Хорошей работы!</h2>
<img style="width:450px; height:450px;"  src="~/image/7.jpg" />